/* ----- Colors ----- */

/* ----- Screen ----- */

body#tinymce.wp-editor {
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /* ----- Base ----- */
  /* ----- Tables ----- */
  /* ----- Lists ----- */
  /* ----- Definition lists ----- */
  /* ----- Preformatted text ----- */
  /* ----- Images ----- */
  /* Gallery */
  /* Image */
  /* ----- Blockquote ----- */
}

body#tinymce.wp-editor p {
  line-height: 1.66666667;
  padding: 0;
  margin: 0 0 30px 0;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
  margin: 50px 0 25px;
  line-height: 1.375;
  font-weight: 600;
}

body#tinymce.wp-editor h1 {
  font-size: 40px;
  margin: 30px 0 15px 0;
}

body#tinymce.wp-editor h2 {
  font-size: 34px;
  margin: 30px 0 15px 0;
}

body#tinymce.wp-editor h3 {
  font-size: 28px;
  margin: 30px 0 15px 0;
}

body#tinymce.wp-editor h4 {
  font-size: 22px;
  margin: 15px 0;
}

body#tinymce.wp-editor h5 {
  font-size: 18px;
  margin: 15px 0;
}

body#tinymce.wp-editor h6 {
  font-size: 18px;
  margin: 15px 0;
  font-weight: 400;
}

body#tinymce.wp-editor a {
  color: #000;
  text-decoration: underline;
}

body#tinymce.wp-editor strong {
  font-weight: bold;
}

body#tinymce.wp-editor img {
  max-width: 100%;
  height: auto;
}

body#tinymce.wp-editor button {
  border: 0;
}

body#tinymce.wp-editor :focus {
  outline: none !important;
}

body#tinymce.wp-editor figure {
  max-width: 100%;
  height: auto;
}

body#tinymce.wp-editor address {
  font-style: normal;
}

body#tinymce.wp-editor table {
  margin-bottom: 30px;
}

body#tinymce.wp-editor table th,
body#tinymce.wp-editor table td {
  padding: 10px 3px;
  border: 1px solid #000;
}

body#tinymce.wp-editor table a {
  font-weight: 400;
}

body#tinymce.wp-editor ol,
body#tinymce.wp-editor ul {
  margin-bottom: 30px;
}

body#tinymce.wp-editor ul ul,
body#tinymce.wp-editor ol ul,
body#tinymce.wp-editor ul ol,
body#tinymce.wp-editor ol ol {
  margin-bottom: 0;
}

body#tinymce.wp-editor ul {
  padding-left: 40px;
}

body#tinymce.wp-editor ol > li {
  list-style: decimal;
}

body#tinymce.wp-editor dt {
  font-weight: bold;
}

body#tinymce.wp-editor dd {
  margin: 0 0 30px 0;
}

body#tinymce.wp-editor pre {
  overflow: auto;
  padding: 14px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 14px;
  margin: 0 0 30px 0;
}

body#tinymce.wp-editor .alignleft {
  float: left;
}

body#tinymce.wp-editor .alignright {
  float: right;
}

body#tinymce.wp-editor .aligncenter {
  margin: 0 auto;
}

body#tinymce.wp-editor p .aligncenter {
  margin-bottom: 0;
}

body#tinymce.wp-editor .gallery-item {
  position: relative;
  padding: 0;
}

body#tinymce.wp-editor .gallery-item img {
  display: block;
}

body#tinymce.wp-editor .gallery-item .gallery-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  max-height: 60%;
  overflow: hidden;
  padding: 20px 15px;
  color: #fff;
  margin: 0;
  -webkit-transition: background ease-in 0.3s;
  transition: background ease-in 0.3s;
  font-size: 16px;
  line-height: 1.3;
}

body#tinymce.wp-editor .gallery-item .gallery-caption:hover {
  background: #000;
}

body#tinymce.wp-editor .gallery-columns-1 .gallery-item .gallery-caption,
body#tinymce.wp-editor .gallery-columns-2 .gallery-item .gallery-caption {
  font-size: 20px;
  padding: 30px 25px;
  line-height: 1.66666667;
}

body#tinymce.wp-editor .gallery-icon img {
  width: 100%;
}

body#tinymce.wp-editor .post.format-image img {
  margin: 0;
  max-width: 100%;
}

body#tinymce.wp-editor .wp-caption {
  position: relative;
}

body#tinymce.wp-editor .wp-caption-text,
body#tinymce.wp-editor .wp-caption-dd {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  max-height: 60%;
  overflow: hidden;
  padding: 30px 25px;
  color: #fff;
  -webkit-transition: background ease-in 0.3s;
  transition: background ease-in 0.3s;
  margin-bottom: 0;
  font-size: 16px;
}

body#tinymce.wp-editor .wp-caption-text:hover,
body#tinymce.wp-editor .wp-caption-dd:hover {
  background: #000;
}

body#tinymce.wp-editor blockquote {
  position: relative;
  border: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 18px;
}

body#tinymce.wp-editor blockquote p {
  font-weight: 600;
}

body#tinymce.wp-editor blockquote p:last-of-type {
  margin-bottom: 0;
}

body#tinymce.wp-editor blockquote:before {
  content: "";
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 14px;
  left: -50px;
}

@media (min-width: 480px) {
  body#tinymce.wp-editor table th,
  body#tinymce.wp-editor table td {
    padding: 10px;
    border: 1px solid #000;
  }
}

@media (min-width: 768px) {
  body#tinymce.wp-editor blockquote:before {
    width: 75px;
    left: -100px;
  }
}